<div class="container">
    <h1 style="text-shadow: 1px 1px 2px #000000; background-color: white; width: fit-content;">Projects</h1>
</div>
<br>
<br>
<div class="container">
    <div class="row">
        <div class="col-lg-4">
            <div class="card card-margin">
                <div class="card-header no-border">
                    <h5 class="card-title">Personal Project</h5>
                </div>
                <div class="card-body pt-0">
                    <div class="widget-49">
                        <div class="widget-49-title-wrapper">
                            <div class="widget-49-date-primary">
                                <span class="widget-49-date-day">23</span>
                                <span class="widget-49-date-month">may'22</span>
                            </div>
                            <div class="widget-49-meeting-info">
                                <span class="widget-49-pro-title">My Profile</span>
                                <span class="widget-49-meeting-time">Website</span>
                            </div>
                        </div>
                        <ol class="widget-49-meeting-points">
                            <li class="widget-49-meeting-item"><span>My own Porfolio</span></li>
                            <li class="widget-49-meeting-item"><span>Sections included: Home, Resume and more</span></li>
                            <li class="widget-49-meeting-item"><span>Made using Angular</span></li>
                        </ol>
                        <div class="widget-49-meeting-action">
                            <a  onclick="window.open('https://github.com/shady48765/profile');" class="btn btn-sm btn-flash-border-primary">View Git</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="card card-margin">
                <div class="card-header no-border">
                    <h5 class="card-title">Personal Project</h5>
                </div>
                <div class="card-body pt-0">
                    <div class="widget-49">
                        <div class="widget-49-title-wrapper">
                            <div class="widget-49-date-warning">
                                <span class="widget-49-date-day">13</span>
                                <span class="widget-49-date-month">may'22</span>
                            </div>
                            <div class="widget-49-meeting-info">
                                <span class="widget-49-pro-title">To Do-List</span>
                                <span class="widget-49-meeting-time">Website</span>
                            </div>
                        </div>
                        <ol class="widget-49-meeting-points">
                            <li class="widget-49-meeting-item"><span>Todo List using HTML, CSS, JavaScript</span></li>
                            <li class="widget-49-meeting-item"><span>Storage used: Local Storage</span></li>
                            <li class="widget-49-meeting-item"><span>Functionalities: Add Main Task, Add Subtask, Remove, Mark as Done</span></li>
                        </ol>
                        <div class="widget-49-meeting-action">
                            <a onclick="window.open('https://github.com/shady48765/todo_list');" class="btn btn-sm btn-flash-border-warning">View Git</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="card card-margin">
                <div class="card-header no-border">
                    <h5 class="card-title">Product</h5>
                </div>
                <div class="card-body pt-0">
                    <div class="widget-49">
                        <div class="widget-49-title-wrapper">
                            <div class="widget-49-date-success">
                                <span class="widget-49-date-day">05</span>
                                <span class="widget-49-date-month">jan'22</span>
                            </div>
                            <div class="widget-49-meeting-info">
                                <span class="widget-49-pro-title">Raven</span>
                                <span class="widget-49-meeting-time">Product | 6 Months</span>
                            </div>
                        </div>
                        <ol class="widget-49-meeting-points">
                            <li class="widget-49-meeting-item"><span>Working with ETL Tools like Informatica, DataStage</span></li>
                            <li class="widget-49-meeting-item"><span>Using XML exports and generating corresponding SQL Queries</span></li>
                            <li class="widget-49-meeting-item"><span>Product Development using Groovy, Apache Calcite and VC with git</span></li>
                        </ol>
                        <div class="widget-49-meeting-action">
                            <a onclick="window.open('https://www.datametica.com/raven/');" class="btn btn-sm btn-flash-border-success">View Link</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <div class="card card-margin">
                    <div class="card-header no-border">
                        <h5 class="card-title">Personal Project</h5>
                    </div>
                    <div class="card-body pt-0">
                        <div class="widget-49">
                            <div class="widget-49-title-wrapper">
                                <div class="widget-49-date-primary">
                                    <span class="widget-49-date-day">13</span>
                                    <span class="widget-49-date-month">aug'21</span>
                                </div>
                                <div class="widget-49-meeting-info">
                                    <span class="widget-49-pro-title">Weather Forecast App</span>
                                    <span class="widget-49-meeting-time">Android App</span>
                                </div>
                            </div>
                            <ol class="widget-49-meeting-points">
                                <li class="widget-49-meeting-item"><span>An android application using REST API to collect data.</span></li>
                                <li class="widget-49-meeting-item"><span>A JSON array is the data obtained and displayed using
                                    ListView.</span></li>
                                <li class="widget-49-meeting-item"><span>Shows weather prediction of next 7 days based on previous data.</span></li>
                            </ol>
                            <div class="widget-49-meeting-action">
                                <a onclick="window.open('https://github.com/shady48765/RestAPI-Weather-App');" class="btn btn-sm btn-flash-border-primary">View Git</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="card card-margin">
                    <div class="card-header no-border">
                        <h5 class="card-title">For Organisation</h5>
                    </div>
                    <div class="card-body pt-0">
                        <div class="widget-49">
                            <div class="widget-49-title-wrapper">
                                <div class="widget-49-date-warning">
                                    <span class="widget-49-date-day">23</span>
                                    <span class="widget-49-date-month">aug'20</span>
                                </div>
                                <div class="widget-49-meeting-info">
                                    <span class="widget-49-pro-title">Education Application</span>
                                    <span class="widget-49-meeting-time">Android App | 3 Months</span>
                                </div>
                            </div>
                            <ol class="widget-49-meeting-points">
                                <li class="widget-49-meeting-item"><span>A platform for students and teachers directly.</span></li>
                                <li class="widget-49-meeting-item"><span>Application includes Sign-Up using email and Google Sign-Up</span></li>
                                <li class="widget-49-meeting-item"><span>Features: Chatting, Blogs wall to post Blogs, Video call using Web RTC</span></li>
                            </ol>
                            <div class="widget-49-meeting-action">
                                <a class="btn btn-sm btn-flash-border-warning"></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="card card-margin">
                    <div class="card-header no-border">
                        <h5 class="card-title">For Organisation</h5>
                    </div>
                    <div class="card-body pt-0">
                        <div class="widget-49">
                            <div class="widget-49-title-wrapper">
                                <div class="widget-49-date-success">
                                    <span class="widget-49-date-day">29</span>
                                    <span class="widget-49-date-month">feb'20</span>
                                </div>
                                <div class="widget-49-meeting-info">
                                    <span class="widget-49-pro-title">Management App</span>
                                    <span class="widget-49-meeting-time">Android App | 3 Months</span>
                                </div>
                            </div>
                            <ol class="widget-49-meeting-points">
                                <li class="widget-49-meeting-item"><span>Originally made for College's Research and Development Labs.</span></li>
                                <li class="widget-49-meeting-item"><span>Sign-Up and Login page using Google Firebase Authenticatio.n</span></li>
                                <li class="widget-49-meeting-item"><span>Features: Post Photos, Portal for Daily updates, Page for Socials.</span></li>
                            </ol>
                            <div class="widget-49-meeting-action">
                                <a onclick="window.open('https://github.com/shady48765/risev2');" class="btn btn-sm btn-flash-border-success">View Git</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>