
<div class="shadow p-3 mb-5 bg-white rounded">
<div id="resume">
   
    <h1 style="background-color: white;">Aman Kumar</h1>
    <p><small id="objective" style="color: gray;">Software Engineer with excellent problem-solving skills and ability to
        perform well in a team. Passionate about coding.</small>
    <p > Cell: <a style="cursor: pointer;" onclick="window.open('tel:+917021211083');">7021-211-083</a>
    <p></p>Email: <a style="cursor: pointer;" onclick="location.href='mailto:amankumar48765@gmail.com';" >amankumar48765@gmail.com</a>
    <br>
    <br>
  <dl>
    <dt>Education
    <dd>
      <h2>Pune University</h2>
      <p><strong>Course:</strong> Computer Engineering<br/>
      <strong>CGPA</strong>(Avg)<strong>:</strong> 9.2</p>
  </dl>
  <dl>
  <dt>Skills
  <dd>
  <h2>Office Skills</h2>
  <p>Android Development, Java, C C++, JSON
    Git, SQL, Groovy, Rest, Python,
    Data Structures & Algorithm, Web Development,
    UI UX, Competitive Programming, Spring,
    Spring Boot,HTML, CSS, Microservices, 
    Embedded C, XML, Maven,
    Angular.
    
  </dl>
  <dl>
  <dt>Experience
  <dd>
  <h2>Software Enginner-Intern<br/>
    <h6><strong> Pubmatic </strong></h6><span>Pune, present</span></h2>
  <ul>
  <li><strong>Web Development </strong> using frameworks like <strong>Angular</strong>
  <li>Creating <strong>efficient design</strong> and developing User Interaction screens using <strong>HTML, CSS, Bootstrap, Javascript, Angular</strong>
  </ul>
  <h2>Product Development-Intern<br/>
    <h6><strong> DataMetica </strong></h6><span>Pune, 10/2021 - 04/2022,</span></h2>
  <ul>
  <li>Working with <strong>ETL Tools</strong> like <strong>Informatica, DataStage</strong>
  <li>Using <strong>XML</strong> exports and generating corresponding <strong>SQL Queries</strong>
  <li><strong>Product Development</strong> using <strong>Groovy, Apache Calcite</strong> and version control with <strong>git</strong>.
  </ul>
  <h2>Android Development-Intern<br/>
    <h6><strong> GreenEDGE Computers LLC </strong></h6><span>Pune, 09/2020 - 12/2020,</span></h2>
  <ul>
  <li>Building Front End and Back End (Full Stack) <strong> Android
    Application</strong>.
  <li>Incorporating <strong>API</strong> for SMS verification.
  <li>Working on <strong>Database</strong> (Firebase) with all <strong>CRUD</strong> operations.
  </ul>
  </dd>
  </dl>
  <dl>
  <dt>Certificates
  <dd>
    <ul>
      <li><strong>Reaktor</strong>- Elements of AI
      <li><strong>Oracle</strong>- PL/SQL Database Programming
      <li><strong>IIEC</strong>- Building Artificial Intelligence Enabled Machine
      <li><strong>AWS</strong>- AWS Academy Cloud Foundations
      <li><strong>Udemy</strong>- Practical Web Development
      </ul>
  </dl>
  <dl>
    <dt>Interests
    <dd>Coding, Music Production, Photo/Video Editing, Cricket, Designing, Drawing
    </dl>
  </div>
  
</div>